// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// personal colors
$white_nuts: white;
$red_nuts: #F55353;
$black_nuts: #101010;
$home_nuts_light: #F4DFBA;
$home_nuts_dark: #EEC373;

// tests colors val
$blue_val: #332FD0;
$pink_val: #F900BF;
$red_nuts: #F55353;
$green_val: #06FF00;
$gray_val: #101010;
