// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// personal colors
$or_nuts: #F95738;
$champ_nuts: #FCEADE;
$gunmetal_nuts: #3A2D27;
$blue_nuts: #56A3A6;
$red_nuts: #f03819;
