// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// personal colors
$white_buts: white;
$brown_nuts: #F1D196;
$black_nuts: #1F1F1F;
$home_nuts_light: #F4DFBA;
$home_nuts_dark: #EEC373;
