// Specific CSS for your home-page
body {
  background-color: #1F1F1F;
}

.home {
  height: 100vh;
  background-image: linear-gradient(to right, #F4DFBA, #EEC373);
  background-repeat: no-repeat;
}

.icons {
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

p {
  font-family: $text-nuts;
}

li {
  font-family: $text-nuts;
}

h4 {
  font-family: $header-nuts-notes;
  color: #3A2D27;
}

.icon {
  font-size: 80px;
  padding: 20px;
  color: #3A2D27;
  padding-top: 10px;
  text-shadow:3px 3px 3px rgba(0, 0, 0, 0.40)
}

// .hide {
//   display: none;
// }

.icons:hover + .hide {
  display: block;
  color: #3A2D27;
    li {
      list-style: none;
      font-family: $header-nuts-notes;
    }
}

.button-home {
  // border: solid 2px #F1D196;
  color: black;
  background-color: #F1D196;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #1f1f1f;
  &:hover{
    background-color: #1f1f1f;
    color: #F1D196;
    font-weight: bold;
    }
}

.links-icon {
  border-radius: 10px;
  border: solid;
}
