// Specific CSS for your home-page
// html {
//   height: 100%;
// }
body {
  background-color: #1F1F1F;
}

.home {
  height: 100vh;
  background-image: linear-gradient(45deg, $home_nuts_light, $home_nuts_dark);
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.icons {
  text-align: center;
}

p {
  font-family: $text-nuts;
}

li {
  font-family: $text-nuts;
}

h4 {
  font-family: $header-nuts-notes;
  color: #3A2D27;
}

.icon {
  font-size: 80px;
  padding: 20px;
  color: #1f1f1f;
  // padding-top: 10px;
}

.hide {
  display: none;
}

.icons:hover + .hide {
  display: block;
  color: #3A2D27;
    li {
      list-style: none;
      font-family: $header-nuts-notes;
    }
}
