// Specific CSS for your home-page
// html {
//   height: 100%;
// }
body {
  background-color: #1F1F1F;
}

.home {
  height: 100vh;
  background-image: linear-gradient(to right, #F4DFBA, #EEC373);
  background-repeat: no-repeat;
}

.icons {
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

p {
  font-family: $text-nuts;
}

li {
  font-family: $text-nuts;
}

h4 {
  font-family: $header-nuts-notes;
  color: #3A2D27;
}

.icon {
  font-size: 80px;
  padding: 20px;
  color: #3A2D27;
  padding-top: 10px;
}

.hide {
  display: none;
}

.icons:hover + .hide {
  display: block;
  color: #3A2D27;
    li {
      list-style: none;
      font-family: $header-nuts-notes;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 95px;
  left: 20px;
  background-color: #EEC373;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: $header-nuts-notes;
  font-weight: light;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #F4DFBA;
  border-radius: 15px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropbtn {
  margin: 0;
}
