#movie {
  color: $white_nuts;
}

.btn-submit {
  color: $white_nuts;
  border: solid 2px $red_nuts;
  padding: 10px;
  border-radius: 10px;
  background-color: #1f1f1f;
    &:hover {
      background-color: $red_nuts;
      color: black;
      font-weight: bold;
      border: none;
    }
}

.form-label {
  color: $white_nuts;
}

.form-control {
  border-radius: 20px;
}
