h2 {
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-show {
  background-color: $black_nuts;
  color: $white_nuts;
  padding: 10px;
    li {
      background-color: $black_nuts;
      color: $white_nuts;
    }
}

.card-show img {
  border: solid grey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-body-show {
  border: solid grey;
  background-color: $red_nuts;
  color: black;
}

.form-show {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
    .button-form {
      background-color: $black_nuts;
    }
}

.navbar-index {
  background-color: $black_nuts;
  padding: 1rem;
}
