<h1>Recommendations</h1>

<ul><%@recommendations.each do |recommendation|%>
  <li><%=recommendation.movie.title %> - <%=recommendation.friend%> - <%=recommendation.added_on%> - <%=recommendation.comment%></li>
  <%end%>
</ul>
