<div class="wrapper">
  <% if @user.bookrecoms == [] %>
    <p><%= @user.nickname %> n'a pas encore de livres dans sa liste.</p>
  <% else %>
    <%@user.bookrecoms.each do |bookrecom| %>
    <div class="movies-cards" style="max-width: 540px;">
      <div class="movies-image-card">
        <%= image_tag bookrecom.book.image_url, class: "img-fluid img-index" %>
      </div>
      <div>
        <% if bookrecom.feedback_rating != nil %>
          <% bookrecom.feedback_rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <h5 class="card-title card-profil"><%=bookrecom.book.title %></h5>
      </div>
      <div class="card-profil my-4">
        <%= link_to "Ajouter à ma liste", "#", class: 'buttons' %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
