<div class="wrapper">
  <% if @user.restaurants == [] %>
    <p><%= @user.nickname %> n'a pas encore de restaurants dans sa liste.</p>
  <% else %>
    <%@user.restaurants.each do |restaurant| %>
    <div class="movies-cards" style="max-width: 540px;">
      <%= link_to restaurant_path(restaurant), class:"text-decoration-none" do%>
        <div>
          <%#= image_tag restaurantrecoms.restaurant.image_url, class: "img-fluid img-index" %>
        </div>
        <div>
          <h5 class="movies-card-header"><%=restaurant.title %></h5>
        </div>
        <div class="card-profil my-4">
          <%= link_to "Ajouter à ma liste", add_friend_reco_restaurant_path(restaurant), class: 'buttons' %>
        </div>
      <%end%>
    </div>
    <%end%>
  <% end %>
</div>
