<div class="wrapper">
  <% if @user.restaurantrecoms == [] %>
    <p><%= @user.nickname %> n'a pas encore de restaurants dans sa liste.</p>
  <% else %>
    <%@user.restaurantrecoms.each do |restaurantrecom| %>
    <div class="movies-cards" style="max-width: 540px;">
      <div class="movies-image-card">
        <%#= image_tag restaurantrecoms.restaurant.image_url, class: "img-fluid img-index" %>
      </div>
      <div>
        <% if restaurantrecom.feedback_rating != nil %>
          <% restaurantrecom.feedback_rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <h5 class="card-title card-profil"><%=restaurantrecom.restaurant.title %></h5>
      </div>
      <div class="card-profil my-4">
        <%= link_to "Ajouter à ma liste", "#", class: 'buttons' %>
      </div>
    </div>
    <%end%>
  <% end %>
</div>
