<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(16,16,16,1)), url(assets/home3.jpg);" >
  <div class="container">
    <div class="">
      <h1>NUTS</h1>
      <p><span data-controller="typed-js"></span></p>
    </div>
  </div>
</div>
