<div class="banner"">
  <div class="container">
    <div class="img-banner d-flex justify-content-center">
      <%= image_tag 'n-n-logo.png' %>
    </div>
    <%# <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
