<div class="container fill-height">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="d-flex justify-content-center" id="logo">
          <%= image_tag "nuts_notes.png" %>
      </div>
    </div>
  </div>
</div>
