<div class="search-restaurant ps-3 py-3 search-bar-text" data-search-restaurants-target="list">
  <% restaurants.each do |restaurant| %>
  <div data-controller="select-restaurants"        data-select-restaurants-target="choix"
        data-action="click->select-restaurants#save" data-value=<%= restaurant.id %>>
  <p id="restaurant"><%= restaurant.title %></p>
  </div>
    <% end %>
</div>
