<div class="container">
  <div class="wrapper">
    <%@restaurantrecoms.select do |restaurantrecom|%>
      <div class="movies-cards" style="max-width: 540px;">
        <%= link_to restaurantrecom_path(restaurantrecom), class:"text-decoration-none" do%>
          <div class="movies-image-card">
          </div>
          <div>
            <h1 class="movies-card-text movies-card-header"><%=restaurantrecom.restaurant.title %></h1>
          </div>
          <div>
          <% if restaurantrecom.friend != nil %>
            <p class="movies-card-text"><i class="fa-solid fa-user"></i>  <%=restaurantrecom.friend%></p>
          <% end %>
          </div>
        <%end %>
      </div>
    <%end%>
  </div>
</div>
