.banner {
  background-size: cover;
  background-position: center;
  padding: 90px 0;
  width: 100%;
  text-align: center;
  img {
    width: 60%;
    max-height: 500px;
    max-width: 650px;
  }
}

.banner h1 {
  margin: 0;
  color: $white_nuts;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $black_nuts;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
