// @media(max-width: 500px) {
//   .cards {
//     font-size: 12px;
//   }
// }

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.movies-cards {
  border-radius: 30px;
  margin-top: 4px;
}

h1 {
  color: $brown_nuts;
  font-family: $header-nuts-notes;
  padding: 30px;
  text-align: center;
  font-size: 26px;
}

.movies-card-text {
  color:white;
  font-family: $headers-font;
  font-weight: 400;
}

.link-modify {
  color: #edc57b;
    &:hover {
      color: white;
    }
}

.titre-index {
  color: $brown_nuts;
  font-family: $header-nuts-notes;
  text-align: center;
  font-size: 26px;
}

.img-fluid {
  width: 100%;
  border-radius: 5px;
}
