.header-login {
  color: $white_nuts;
}

.form-login {
  margin-top: 50px;
  .btn {
    color: $white_nuts;
    border: solid 2px $red_nuts;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
}

.btn:hover {
  background-color: $red_nuts;
  color: black;
  font-weight: bold;
}

.input-login {
  color: $white_nuts;
}

.search-bar-text {
  color: white;
}
