#map {
  position: sticky;
  top: 75px;
  border: red 10px;
  z-index: 100;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
