.navbar-lewagon {
  justify-content: space-between;
  // background: #293241;
  background: transparent;
  width: 100%;
    h2 {
      font-family: 'Schoolbell', cursive;
      font-size: 35px;
      margin: 0;
    }
}

.navbar {
  background-image: linear-gradient(to right, #F4DFBA, #EEC373);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-light .navbar-toggler {
  // background-color: #1f1f1f;
}

.navbar-light .navbar-nav .nav-link {
  color: #1f1f1f;
}

.btn-main {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
