<div class="search-podcast ps-3 py-3 search-bar-text" data-search-podcasts-target="list">
  <% podcasts.each do |podcast| %>
  <div data-controller="select-podcasts"        data-select-podcasts-target="choix"
        data-action="click->select-podcasts#save" data-value=<%= podcast.id %>>
  <p id="podcast"><%= podcast.title %></p>
  </div>
    <% end %>
</div>
